* {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}
body {
  background-color: #8cc461;
}
#first-banner {
  display: flex;
  color: white;
  border: 2px solid white;
  height: 115px;
  width: 636px;
  border-radius: 8px;
  position: relative;
  top: 25px;
  left: 25%;
}
.heading {
  position: absolute;
  left: 14px;
}
.scores {
  display: flex;
  position: absolute;
  gap: 28px;
  right: 32px;
  right: 20px;
  color: #656565;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 1px;
}
.scores span {
  position: absolute;
  top: 39px;
  font-size: 50px;
  right: 40px;
  color: black;
}
#s1 {
  position: absolute;
  padding: 15px;
  bottom: 48px;
}

#s2 {
  position: absolute;
  padding: 22px;
  bottom: 45px;
  right: 2px;
}
.computer-score {
  background-color: white;
  height: 100px;
  width: 107px;
  position: relative;
  top: 7px;
  border-radius: 14px;
}
.your-score {
  background-color: white;
  height: 100px;
  width: 107px;
  position: relative;
  top: 7px;
  border-radius: 14px;
}
.second-banner {
  display: flex;
  justify-content: center;
  position: relative;
  height: 362px;
  top: 68px;
  gap: 144px;
  right: 4px;
}
#first-image {
  display: block;
  position: absolute;
  background-color: white;
  height: 46px;
  width: 49px;
  border-radius: 99px;
  border: 12px solid #0074b6;
  padding: 21px;
  top: 23px;
  left: 441px;
}
#second-image {
  display: block;
  position: absolute;
  background-color: white;
  height: 46px;
  width: 49px;
  border-radius: 99px;
  border: 12px solid #bd00ff;
  padding: 21px;
  right: 450px;
  top: 23px;
}

#third-image {
  display: block;
  background-color: white;
  position: absolute;
  height: 46px;
  width: 49px;
  border-radius: 99px;
  border: 12px solid #ffa943;
  padding: 21px;
  top: 194px;
  left: 588px;
}

.hr {
  display: block;
}
#first-hr {
  display: block;

  height: 177px;
  position: absolute;
  width: 14px;
  z-index: -11;
  background-color: #3b3b3b;
  transform: rotate(90deg);
  left: 627px;
  border: none;
  padding: -25px;
  bottom: 215px;
}

#second-hr {
  display: block;

  height: 172px;
  position: absolute;
  width: 14px;
  z-index: -1;
  background-color: #3b3b3b;
  transform: rotate(37deg);
  right: 546px;
  top: 107px;
  border: none;
}
#third-hr {
  display: block;

  height: 172px;
  position: absolute;
  width: 14px;
  z-index: -1;
  background-color: #3b3b3b;
  transform: rotate(140deg);
  left: 564px;
  border: none;
  top: 107px;
  display: flex;
  gap: 86px;
}

#game-rules {
  display: none;
  position: absolute;
  background-color: #004429;
  color: white;
  height: 306px;
  bottom: 60px;
  width: 255px;
  right: 61px;
  border: 7px solid white;
  font-size: 14px;
  border-radius: 9px;
}

#game-rules h1 {
  position: absolute;
  left: 39px;
  top: 16px;
}
.rules {
  padding: 15px;
  position: relative;
  top: 51px;
  list-style-type: none;
}
.rules li {
  position: relative;
  padding-left: 20px;
}

.rules li::before {
  content: "■";
  color: yellow;
  position: absolute;
  left: 0;
  top: 32%;
  transform: translateY(-50%);
}

#rules-btn {
  height: 38px;
  width: 103px;
  position: absolute;
  bottom: 11px;
  color: white;
  border: none;
  right: 35px;
  background-color: #8cc461;
  border: 2px solid white;
  border-radius: 9px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: bold;
}

#close-btn {
  position: absolute;
  display: none;
  right: 49px;
  z-index: 1;
  bottom: 356px;
  color: white;
  font-size: x-large;
  background-color: red;
  width: 31px;
  text-align: center;
  border-radius: 16px;
  height: 29px;
  border: 2px solid white;
  font-weight: bold;
}
.icons {
  display: flex;
}
#stars {
  display: none;
  position: absolute;
  height: 200px;
  width: 200px;
  left: 36%;
  bottom: 53%;
}
#trophy {
  display: none;
  height: 151px;
  position: absolute;
  left: 48%;
  top: 31%;
}

.winner {
  display: none;
  color: white;
  top: 50%;
  font-weight: bold;
  font-size: 1.7rem;
  letter-spacing: 1px;
}
#hurray {
  display: flex;
  color: white;
  position: absolute;
  right: 444px;
  top: 209px;
  font-size: 5rem;
  letter-spacing: 3px;
}
#you-won {
  display: flex;
  color: white;
  position: absolute;
  top: 308px;
  right: 453px;
  font-size: 1.7;
  font-size: 34px;
  letter-spacing: 2px;
  font-weight: 500;
}

#second-screen {
  display: none;
}
#second-screen #userpickedImage {
  position: absolute;
  background-color: white;
  height: 58px;
  width: 60px;
  border-radius: 99px;
  border: 12px solid #0074b6;
  padding: 21px;
  top: 90px;
  left: 338px;
}
#second-screen #computerpickedImage {
  position: absolute;
  background-color: white;
  height: 58px;
  width: 60px;
  border-radius: 99px;
  border: 12px solid #0074b6;
  padding: 21px;
  top: 90px;
  right: 340px;
}
.lost {
  display: flex;
  flex-direction: column;
  top: 80px;
  color: white;
  left: 574px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
  position: absolute;
}
#play-again {
  display: none;
  position: absolute;
  top: 352px;
  padding: 9px;
  width: 119px;
  left: 580px;
  letter-spacing: 1px;
  font-size: 9px;
  border: none;
  border-radius: 5px;
  height: 29px;
}

#next-btn {
  display: none;
  height: 38px;
  width: 103px;
  position: absolute;
  bottom: 11px;
  color: white;
  border: none;
  right: 25px;
  background-color: #8cc461;
  border: 2px solid white;
  border-radius: 9px;
  letter-spacing: 1px;
  align-items: center;
  padding: 2px 29px;
  font-size: 1rem;
  font-weight: bold;
}
#tie {
  display: flex;
  position: absolute;
  left: 595px;
  color: white;
  top: 106px;
}
.won {
  display: none;
  flex-direction: column;
  top: 80px;
  color: white;
  left: 574px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
  position: absolute;
}
#layer1 {
  display: none;
  position: absolute;
  border: 25px solid #269b28;
  height: 120px;
  width: 126px;
  left: 313px;
  top: 67px;
  border-radius: 104px;
}
#layer2 {
  display: none;
  position: absolute;
  border: 25px solid #33a62f;
  height: 160px;
  width: 169px;
  left: 293px;
  top: 47px;
  border-radius: 150px;
}
#layer3 {
  display: none;
  position: absolute;
  border: 25px solid #66b148;
  height: 196px;
  width: 200px;
  left: 278px;
  top: 29px;

  border-radius: 150px;
}

#layer4 {
  display: none;
  position: absolute;
  border: 26px solid #269b28;
  height: 120px;
  width: 126px;
  right: 314px;
  top: 67px;
  border-radius: 104px;
}
#layer5 {
  display: none;
  position: absolute;
  border: 25px solid #33a62f;
  height: 160px;
  width: 169px;
  right: 293px;
  top: 47px;
  border-radius: 150px;
}
#layer6 {
  display: none;
  position: absolute;
  border: 25px solid #66b148;
  height: 196px;
  width: 200px;
  right: 278px;
  top: 29px;
  border-radius: 150px;
}
.temp-position-rulesbtn {
  top: 429px;
  right: 26px;
}

/* .temp-position-playbtn {
  top: 451px;
} */
